LTOData/Web References/PublishDocToSP/PublishDocToSP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tcdsb.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tcdsb.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tcdsb.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Documents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLIPPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolBrief" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLIPPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SLIPPDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:Documents" />
  </wsdl:message>
  <wsdl:message name="DocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:DocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="SLIPPDFSoapIn">
    <wsdl:part name="parameters" element="tns:SLIPPDF" />
  </wsdl:message>
  <wsdl:message name="SLIPPDFSoapOut">
    <wsdl:part name="parameters" element="tns:SLIPPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="PublishDocToSPSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Documents">
      <wsdl:input message="tns:DocumentsSoapIn" />
      <wsdl:output message="tns:DocumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SLIPPDF">
      <wsdl:input message="tns:SLIPPDFSoapIn" />
      <wsdl:output message="tns:SLIPPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublishDocToSPSoap" type="tns:PublishDocToSPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://www.tcdsb.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Documents">
      <soap:operation soapAction="http://www.tcdsb.org/Documents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SLIPPDF">
      <soap:operation soapAction="http://www.tcdsb.org/SLIPPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PublishDocToSPSoap12" type="tns:PublishDocToSPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://www.tcdsb.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Documents">
      <soap12:operation soapAction="http://www.tcdsb.org/Documents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SLIPPDF">
      <soap12:operation soapAction="http://www.tcdsb.org/SLIPPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublishDocToSP">
    <wsdl:port name="PublishDocToSPSoap" binding="tns:PublishDocToSPSoap">
      <soap:address location="http://webs01.tcdsb.org/DocumentToSP/PublishDocToSP.asmx" />
    </wsdl:port>
    <wsdl:port name="PublishDocToSPSoap12" binding="tns:PublishDocToSPSoap12">
      <soap12:address location="http://webs01.tcdsb.org/DocumentToSP/PublishDocToSP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>